@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

p {
  font-size: 1rem;
  margin: 10px 0;
  line-height: 1.9em;
}

a {
  text-decoration: none;
}

hr {
  width: 50%;
  margin: 0 auto;
}

.container {
  margin: auto;
  max-width: 1300px;
  overflow: auto;
  padding: 0 20px;
}

.txt-large {
  font-size: 18px;
}

.txt-black {
  font-weight: 700;
}

.display1 {
  font-size: 3rem;
  padding-bottom: 30px;
}

.btn {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  padding: 12px 23px;
  font-weight: bold;
  letter-spacing: 1px;
}
.btn-black {
  background: black;
  color: white;
  border: none;
}

#navbar {
  height: 15vh;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
#navbar a {
  color: black;
  font-weight: 500;
}
#navbar .logo {
  font-size: 1.5rem;
  text-transform: uppercase;
}
#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
#navbar ul {
  display: flex;
  list-style: none;
}
#navbar ul li {
  margin-left: 40px;
}
#navbar ul .btn-menu {
  background-color: black;
  color: white;
  padding: 20px 18px;
}

#showcase {
  height: 85vh;
}
#showcase .showcase-flex {
  display: flex;
}
#showcase .showcase-flex-description {
  flex: 1;
  padding: 50px 0;
}
#showcase .showcase-flex-description .btn {
  margin: 20px 0;
}
#showcase .showcase-flex-description ul {
  display: flex;
  list-style: none;
}
#showcase .showcase-flex-description ul img {
  height: 90px;
  padding: 5px;
}
#showcase .showcase-flex-image {
  flex: 1;
}
#showcase .showcase-flex-image img {
  width: 80%;
  height: 80%;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#games {
  padding: 80px 0;
}
#games .txt-large {
  text-align: center;
  padding: 20px 30px;
}
#games .game-flex {
  display: flex;
  justify-content: center;
}
#games .game-flex img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#games .game-flex-box {
  width: 100px;
  margin: 20px;
}
#games .game-flex-box p {
  text-align: center;
}

#group {
  padding: 80px;
}
#group .group-table {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 1000px;
  padding: 50px 20px;
  margin: 0 auto;
}
#group .group-table table tr td {
  color: #c4c4c4;
  padding: 20px;
  width: 600px;
  text-align: center;
}
#group .group-table table tr th {
  padding-left: 10px;
}
#group .group-table table .group-table-country {
  color: rgb(12, 19, 51);
}

#about {
  padding: 80px 0;
}
#about .about-flex {
  display: flex;
  gap: 40px;
}
#about .about-flex-image {
  flex: 1;
}
#about .about-flex-image img {
  width: 60%;
  padding-left: 100px;
}
#about .about-flex-description {
  flex: 1;
}
#about .about-flex .ul {
  font-style: italic;
}

#qatar {
  padding: 80px 0;
  text-align: center;
}

#mainfooter {
  text-align: center;
  padding: 30px;
}

/*# sourceMappingURL=style.css.map */
